[Desktop Entry]
Name=Flatrun
Exec=flatrun -f %U
Type=Application
Icon=org.ryanabx.flatrun
Categories=Utility;
NoDisplay=true
GenericName=Application Launcher

MimeType=application/vnd.flatpak;